<div class="masthead"><br><br></div>
	<div class="row-fluid">
	<div class="span3">
	<div style="width:150px;">
	<ul class ="nav nav-list"> 
	    #if $varExists('content')
		<li><a href="../index.html">Home</a></li>
		<li><a href="../tech.html">Technology</a></li>
		<li><a href="../projects.html">Projects</a></li>
		<li><a href="../archive.html">Blog</a></li>
		<li><a href="../reviews.html">Reviews</a></li>
		#else
		<li><a href="index.html">Home</a></li>
		<li><a href="tech.html">Technology</a></li>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="archive.html">Blog</a></li>
		<li><a href="reviews.html">Reviews</a></li>
		#end if
	</ul>
	</div>
	<hr style="width:50%;text-align:center;"></hr>
	<img src="https://en.gravatar.com/userimage/43144699/3ba57f68cda45db574d2f4db1bf2996e.jpg"></img><br>
	<strong>Armand Halbert</strong><br>
	<small><em>
	Researcher<br>
    National Institutes of Health<br>
    <br>
    Graduate Student<br>
	University of Massachusetts Amherst</em><br>
	<br>
	Contact:<br>
	armand.halbert@gmail.com<br>
	ahalbert@cs.umass.edu
	<br>
	<a href="https://dl.dropboxusercontent.com/u/18500843/Armand%20Halbert%20Current%20Resume.docx">Resume - word</a><br>
	<a href="https://dl.dropboxusercontent.com/u/18500843/ahalbert_resume.pdf">Resume - pdf</a><br>
	<a href="https://dl.dropboxusercontent.com/u/18500843/Armand%20Halbert%20Current%20Resume.txt">Resume - text</a><br>
	</small>
	<br>
    <a href="http://github.com/ahalbert"><img src="github-32px.png"></img></a>&nbsp;
	<a href="http://bitbucket.org/ahalbert"><img src="bitbucket-32px.jpeg"></img></a>&nbsp;
    <a href="http://linkedin.com/in/armandhalbert"><img src="linkedin.png"></img> </a>
	<hr style="width:50%;text-align:center;"></hr>
    #if $varExists('content')
    <small><em>Published on: <br>$date</em></small>
    #end if
</div>

